body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#button-container {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sketch-container {
    height: 640px;
    width: 640px;
    border: solid black;
    display: flex;
    flex-direction: column
}

.row {
    flex: 1;
    display:flex;
}

.grid-block {
    flex: 1;
}

